#body {
    background-color: gray;
    padding: 20px;
  }
  
  .menu_top {
    display: flex;
    justify-content: space-between;
  }
  
  li {
    list-style: none;
    padding: 20px;
  }
  
  .left,
  .right {
    display: flex;
  }
  .banner_slide {
    width: 100%;
  }
  .banner_text {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  
  .col {
    width: 30%;
    display: inline-block;
    padding-right: 15px;
  }
  .col img {
    width: 100%;
  }
  .end {
    background-color: darkgrey;
    padding: 0 25px;
  }
  body {
    box-sizing: border-box;
  }
  .img-1 img,
  .img-2 img,
  .img-3 img {
    width: 100%;
  }
  #range_2{
    margin-bottom: 20px;
  }
  
  
  /* desktop */
  @media (min-width: 992px) {
    .row img {
      width: 100%;
    }
  }
  
@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
  
/* tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .row img {
    width: 100%;
  }
  .menu_top {
    background-color:gray;
  }
  a.text_menu_top {
    color:white;
  }
  .banner_text{ 
    position: relative;
    left:3%;
  }
  .banner_head{
    background-color: white;
  }
  #body{
    background-color: white;
  }
  .end{
    background-color: white;
    margin-left:20px;
  }
  .range{
    margin-top: 20px;
  }
  #range_2 {
    margin-bottom: 20px;
  }
  #image {
    margin-left:5px;
  }
}
/* phone */
@media screen and (min-width: 1px) and (max-width: 767px) {
  .menu_top {
    background-color:gray;
  
  }
  a.text_menu_top {
    color: white;
  }
  .banner_head {
    background-color: white; 
  }
  #body {
    background-color: white ;
  }
  .banner_text{ 
    position: relative;
    left: 25px;
  }
  .end{
    background-color: white;
  }
  .range{
    margin-top: 20px;
  }
  #range_2{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #image {
    margin-left:5px;
  }
}
